---
import { LinkForm } from "@/components/react/link-form";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Link Shortener"
  description="Takes your links and shortens them."
>
  <main class="flex min-h-screen flex-col items-center justify-center gap-20">
    <div>
      <h1 class="text-3xl font-bold xxs:text-4xl sm:text-5xl md:text-6xl">Link Shortener</h1>
      <div class="flex justify-between">
        <p>
          made by <a
            href="https://charleszw.com"
            target="_blank"
            class="decoration-wavy underline-offset-2 hover:font-bold hover:italic hover:underline"
            >Charles</a
          >
        </p>
        <a
          href="https://github.com/aczw/link-shortener"
          target="_blank"
          class="decoration-wavy underline-offset-2 hover:font-bold hover:italic hover:underline"
          >source</a
        >
      </div>
    </div>

    <LinkForm client:load />
  </main>
</Layout>
