---
import { LinkForm } from "@/components/react/link-form";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="link shortener"
  description="Hello world"
>
  <main class="flex min-h-screen flex-col items-center justify-center gap-20">
    <div>
      <h1 class="xxs:text-4xl text-3xl font-bold sm:text-5xl md:text-6xl">link shortener</h1><p>
        made by <a
          href="https://charleszw.com"
          target="_blank"
          class="decoration-wavy underline-offset-2 hover:font-bold hover:underline"
          >charles</a
        >
      </p>
    </div>

    <LinkForm client:load />
  </main>
</Layout>
